a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    color: #0000FF;
    font-weight: bold;
}

a:visited {
    color: teal;
}

.error_text {
    color: #FF0000;
    font-weight: bold;
}

body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    /*overflow: hidden;*/
}

.frame {
    margin: 0 auto;
    width: 550px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #EEE;
    /*box-shadow: 0px 0px 8px #5078BE;
    -moz-box-shadow: 10px, 10px, 3px, teal;
    -webkit-box-shadow: 10px, 10px, 3px, teal;
    border-radius: 12px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;*/
}

#header {
    font-weight: bold;
    font-size: x-large;
    text-shadow: 1px 1px 2px #5078BE;
}

.slider_container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}